<div>
  <h2 id="page-heading" data-cy="CustomerHeading">
    <span jhiTranslate="shannoAppUiApp.customer.home.title">Customers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="shannoAppUiApp.customer.home.refreshListLabel"
          >Refresh Table</span
        >
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-customer"
        [routerLink]="['/customer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="shannoAppUiApp.customer.home.createLabel"
          >Create New</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="customers?.length === 0">
    <span jhiTranslate="shannoAppUiApp.customer.home.notFound">NotFound</span>
  </div>
  <div class="d-flex justify-content">
    <input type="text" class="form-control m-2" placeholder="search by name or phone" (input)="onInputChange($event)">
  </div>
  <div class="table-responsive table-entities" id="entities" *ngIf="customers && customers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <!-- <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="shannoAppUiApp.customer.id">id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <th scope="col" jhiSortBy="firstName">
            <div class="d-flex">
              <span jhiTranslate="shannoAppUiApp.customer.firstName">firstName</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastName">
            <div class="d-flex">
              <span jhiTranslate="shannoAppUiApp.customer.lastName">lastName</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!-- <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span jhiTranslate="shannoAppUiApp.customer.email">email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <th scope="col" jhiSortBy="phone">
            <div class="d-flex">
              <span jhiTranslate="shannoAppUiApp.customer.phone">phone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!-- <th scope="col" jhiSortBy="address">
            <div class="d-flex">
              <span jhiTranslate="shannoAppUiApp.customer.address">address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <div class="d-flex">
              <span jhiTranslate="shannoAppUiApp.customer.createdDate"
                >createdDate</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="modifiedDate">
            <div class="d-flex">
              <span jhiTranslate="shannoAppUiApp.customer.modifiedDate"
                >modifiedDate</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers; trackBy: trackId" data-cy="entityTable">
          <!-- <td>
            <a [routerLink]="['/customer', customer.id, 'view']">{{ customer.id }}</a>
          </td> -->
          <td>{{ customer.firstName }}</td>
          <td>{{ customer.lastName }}</td>
          <!-- <td>{{ customer.email }}</td> -->
          <td>{{ customer.phone }}</td>
          <!-- <td>{{ customer.address }}</td>
          <td>{{ customer.createdDate | formatMediumDatetime }}</td>
          <td>{{ customer.modifiedDate | formatMediumDatetime }}</td> -->
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/customer', customer.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/customer', customer.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(customer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete"
                  >Delete</span
                >
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
